.container {
  background-color: #f7f7f5;
  color: #202124;
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  height: 100%;
  opacity: 1;
  padding: 24px;
  position: absolute;
  transition:
    opacity 0.3s ease-out,
    visibility 0s 0.3s;
  visibility: visible;
  width: 100%;
  z-index: 0;
}

.container.isHidden {
  opacity: 0;
  visibility: hidden;
}

.logo {
  font-size: 45px;
	line-height: 45px;
  font-weight: inherit;
  margin: 0 0 100px 0;
  position: relative;
  z-index: 1;
}

.heading {
  font-size: 28px;
	line-height: 38px;
  font-weight: inherit;
  margin: 0 0 36px 0;
  max-width: 320px;
  position: relative;
  z-index: 1;
}

.widescreenFlexPlaceholder {
  display: none;
}

@media screen and (min-width: 901px) {
  .container {
    flex-grow: 1;
    padding: 72px;
    position: relative;
  }

  .container.isHidden {
    opacity: 1;
    visibility: visible;
  }

  .container svg {
    flex-shrink: 0;
    transform: scale(1.1);
    transform-origin: top left;
  }

  .container button {
    display: none;
  }

  .widescreenFlexPlaceholder {
    display: block;
  }
}
