.boat {
  border: 5px solid #202124;
  top: calc(70% - 80px);
  height: 200px;
  left: 0%;
  opacity: 0;
  position: absolute;
  width: 200px;
  transform: rotate(50deg);
  transition: opacity 0.4s ease-out;
  transition-delay: 0s;
}

.visible {
  opacity: 1;
  transition-delay: 0.8s;
}

.boatStep1 {
  top: calc(70% - 110px);
  left: 30%;
  transform: rotate(40deg);
}

.boatStep2 {
  top: calc(70% - 70px);
  left: 60%;
  transform: rotate(48deg);
}

.boatStep3 {
  top: calc(70% - 90px);
  left: auto;
  right: 0%;
  transform: rotate(45deg);
}
