.container {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.container > div {
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  transition:
    opacity 0.2s ease,
    top 0.2s ease;
  width: 100%;
}

.container > div.middle {
  bottom: 0;
  opacity: 1;
  top: 0;
}

.container > div.up {
  top: -100%;
}

.container > div.down {
  top: 100%;
}

@media screen and (min-width: 901px) {
  .container {
    flex-basis: 750px;
    flex-grow: 0;
    flex-shrink: 0.3;
    position: relative;
  }
}
