.container {
  height: 100%;
  opacity: 0;
  overflow-y: scroll;
  transition: 0.2s ease-in;
  width: 100%;
}

.container > iframe {
  border: none;
  height: 99%;
  width: 100%;
}

.visible {
  opacity: 1;
  transition: none;
}

.container > button {
  position: absolute;
  bottom: 48px;
  left: 10000px;
  margin: 0 24px;
  opacity: 0;
  transition: opacity 0.6s ease;
  width: calc(100% - 48px);
}

.container.isButtonVisible > button {
  opacity: 1;
  left: 0;
}
