.button {
	background-color: #f7f7f5;
	border: 3px solid #202124;
	color: #202124;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	margin: 36px 0 96px 0;
	outline: none;
	padding: 16px 24px;
	width: 100%;
  cursor: pointer;
  transition: 0.2s ease;
}

.button:hover {
	background-color: #FED591;
}

.centered {
  margin: 0 auto;
}

.compact {
	margin: 24px 0 0;
}

@media screen and (min-width: 901px) {
  .button {
		max-width: 300px;
		width: auto;
		width: fit-content;
	}
}
