.container {
  background: #f7f7f5d9;
  box-shadow: 0px 0px 10px 10px #f7f7f5d9;
  margin-bottom: 16px;
}

.item {
  align-items: center;
  display: flex;
  margin-bottom: 8px;
}

.checkmark {
  height: 16px;
  padding-left: 4px;
  padding-right: 12px;
}
