.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.container > h3 {
  background: transparent !important;
  box-shadow: none !important;
  flex: 0 0 auto;
  margin: 0 6px 6px 0;
  z-index: auto;
}

.dropdownRoot {
  margin: 0;
}

.dropdownControl {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #202124;
  border-radius: 0;
  font-weight: 500;
  padding: 6px 20px 4px 2px;
}

.dropdownArrow {
  border-color: #202124 #0000 #0000;
  right: 2px;
  top: 16px;
}

:global(.is-open) .dropdownArrow {
  border-color: #0000 #0000 #202124;
}

.dropdownMenu {
  top: calc(100% + 8px);
  width: auto;
}

.isMenuRightAligned {
  right: 0;
}

.dropdownMenu :global(.Dropdown-option) {
  color: #202124;
  white-space: nowrap;
}

.dropdownMenu :global(.Dropdown-option.is-selected) {
  background-color: #f7f7f5;
  font-weight: 500;
}
