.container {
  align-items: center;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 0 24px;
  width: calc(100% - 8px);
}

.container.hasShadow {
  box-shadow: 0px 1px 6px 0 rgba(0,0,0,.16);
}

.container > h3 {
  background: transparent !important;
  box-shadow: none !important;
  flex: 0 0 auto;
  margin: 0 6px 4px 0;
  z-index: auto;
}
